@font-face {
    font-family: "League_Spartan";
     src: url("assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
   }

* {
    box-sizing: border-box;
  }

 body {
    font-family: "League_Spartan";
    font-weight: 100;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
   }

   .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

  html {
    scroll-behavior: smooth; 
  }

 a:hover {
    background-color: cornflowerblue;
    color: black;
}
 a:link{
    color: blueviolet;
    margin: 5px;
 }

 
