@font-face {
    font-family: "League_Spartan";
     src: url("assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
   }

   @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

* {
    box-sizing: border-box;
  }

 body {
    font-family: "League_Spartan";
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    border: 5px solid transparent;
    background-color: cornflowerblue;
}

.main {
    border: 5px solid transparent;
    background-color: rgb(148, 196, 252);
}

.footer {
    border: 5px solid transparent;
    background-color: cornflowerblue;
    line-height: 40px;
    font-size: large;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 30px;
    }

.nav-link {
    line-height: 40px;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration-color: black;
    text-decoration: none;

    }

  html {
    scroll-behavior: smooth; 
  }

 a:hover {
    background-color: rgb(99, 57, 250)  ;
    color: rgb(137, 241, 0);
    border-radius: 10px;

  }

a:link {
margin: 5px;
 }

 .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
    text-align: center;
  }

  .profile-photo {
    padding: 10px;
    width: 300px;
    border-radius: 30px;

   }

  .section-title {
    text-align: center;
    }

  .logo-github {
    width: 100px;
    }

  .logo-rs {
   width: 100px;
   float: right;
  }  

  .container-myhub {
    display: flex;
    justify-content: space-between;
  }

  nav {
    color: black;
  }

  .contact-list {
    text-align: left;
    margin-left: 120px;
  }

  .skills-list {
    text-align: left;
    margin-left: 120px;
  }